<nav class="flex items-center justify-between p-4 bg-white shadow">
  <button 
  (click)="viewHome()"
  class="text-xl font-bold text-blue-700"
>
DreamBridge
</button>
    <div class="flex gap-5">
        <button 
        (click)="viewHome()"
        class="text-gray-700 hover:text-blue-600"
      >
        Home
      </button>      
      <button 
          (click)="viewVision()"
          class="text-gray-700 hover:text-blue-600"
        >
          Vision
        </button>
      <button 
          (click)="viewDreamForm()"
          class="text-gray-700 hover:text-blue-600"
        >
          Dream Form
        </button>

        <button 
          (click)="viewContact()"
          class="text-gray-700 hover:text-blue-600"
        >
          Contact
        </button>
      
      
    </div>
  </nav>
  